.PlayerCounter, .PlayerCounter-inner {
  display: flex;
  flex: 1;
  position: relative;
  border: 0;
}

.PlayerCounter-content {
  display: flex;
  flex: 1;
}

.PlayerCounter-row .PlayerCounter-overlay-actions,
.PlayerCounter-row .PlayerCounter-content {
  flex-direction: row-reverse;
}

.PlayerCounter-column .PlayerCounter-overlay-actions,
.PlayerCounter-column .PlayerCounter-content {
  flex-direction: column;
}

.PlayerCounter-life-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.PlayerCounter-action-text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PlayerCounter-action-text > svg {
  height: 60%;
  width: 60%;
}

.PlayerCounter-row .PlayerCounter-life-text {
  max-width: 40%;
}

.PlayerCounter-column .PlayerCounter-life-text {
  max-height: 40%;
}

.PlayerCounter-row .PlayerCounter-action-text {
  max-width: 30%;
}

.PlayerCounter-column .PlayerCounter-action-text {
  max-height: 30%;
}

.PlayerCounter-overlay-actions {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex: 1;
}

.PlayerCounter-overlay-action {
  flex: 1;
}

.PlayerCounter-name {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  border-radius: 5px;
}
